.SubmissionForm div.input,
.SubmissionForm textarea,
.SubmissionForm div.dropdown {
  margin-bottom: 1em !important;
}

.SubmissionForm h2 {
  margin-top: 1em !important;
  margin-bottom: 1em;
}

.SubmissionForm label {
  text-align: left !important;
}

.Ideas {
  margin-top: 1em !important;
}